In [1]:
import pandas as pd

olympic_data = pd.read_csv('all_olympic_medalists.csv')

olympic_data.head()

,season,year,medal,country_code,country,athletes,games,sport,event_gender,event_name
0,Summer,1896,Gold,USA,United States,Thomas BURKE,1896 Athens,Athletics,Men's,100m
1,Summer,1896,Silver,GER,Germany,Fritz HOFMANN,1896 Athens,Athletics,Men's,100m
2,Summer,1896,Bronze,HUN,Hungary,Alajos SZOKOLYI,1896 Athens,Athletics,Men's,100m
3,Summer,1896,Bronze,USA,United States,Francis LANE,1896 Athens,Athletics,Men's,100m
4,Summer,1896,Gold,USA,United States,Thomas BURKE,1896 Athens,Athletics,Men's,400m